:root {
	--light-color: #fff;
	--dark-color: #000;
	--secondary-bg-color: #f3f3f3;
}

ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.link {
	text-decoration: none;
}

button {
	font-family: inherit;
	cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

img {
	display: block;
}

body {
	font-family: "Inter", sans-serif;
	background-color: var(--light-color);
	color: var(--dark-color);
}

.container {
	width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

/* ______ HEADER _________*/

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 1440px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.logo {
	font-weight: 900;
	font-size: 25px;
	line-height: 1.04;
	text-transform: uppercase;
	color: var(--dark-color);
}

.logo-tm {
	font-weight: 900;
	font-size: 8px;
	line-height: 1.12;
	text-transform: uppercase;
}

.nav-list {
	display: flex;
	gap: 24px;
}

.nav-list-item {
}

.nav-list-link {
	display: inline-block;
	padding: 38px 0;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	letter-spacing: 0.1px;
	color: var(--dark-color);
}

.link {
}

.header-btn {
	padding: 12px 24px;
	border: none;
	border-radius: 32px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.1px;
	color: var(--light-color);
	background-color: var(--dark-color);
}

.header-btn:focus,
.header-btn:hover {
	color: var(--dark-color);
	background-color: var(--secondary-bg-color);
}

.header-btn,
.hero-btn {
	transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
	
	/* transition-property: color, background-color;
	transition-duration: 250ms;
	transition-timing-function: ease-in-out; */
}

/* ______ HERO _________*/

.hero {
	padding-top: 42px;
	padding-bottom: 64px;
}

.hero .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero-title {
	font-weight: 900;
	font-size: 56px;
	line-height: 1.07;
	margin-bottom: 24px;

	/* line-height: calc(60 / 56); */
}

.hero-text {
	font-size: 18px;
	line-height: 1.55;
	margin-bottom: 40px;
	width: 457px;
}

.hero-btn {
	width: 100px;
	height: 48px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	color: var(--light-color);
	background-color: var(--dark-color);
	border: none;
	border-radius: 32px;
}

.hero-btn:focus,
.hero-btn:hover {
	color: var(--dark-color);
	background-color: var(--secondary-bg-color);
}

.hero-desc {
	font-weight: 600;
	font-size: 14px;
	line-height: 1.7;
	width: 236px;
	margin-left: 20px;
}

.button-text {
	display: flex;
	align-items: center;
}

.advantages {
	padding-top: 70px;
	padding-bottom: 64px;
	background-color: var(--secondary-bg-color);
}

.advantages-list {
	display: flex;
	gap: 30px;
}

.advantages-title {
	display: flex;
	align-items: center;
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 22px;
}

.advantages-title::before {
	content: "";
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: var(--dark-color);
	margin-right: 16px;
}

.advantages-text {
	font-size: 16px;
	line-height: 1.5;
}

.descr {
	padding: 96px 0;
	background-color: var(--dark-color);
}
.descr .container {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}
.descr-title {
	margin-bottom: 16px;
	width: 453px;
	font-weight: 900;
	font-size: 24px;
	line-height: 1.33;
	letter-spacing: -0.1px;
	color: var(--light-color);
}
.descr-text {
	margin-bottom: 16px;
	width: 453px;
	font-size: 16px;
	line-height: 1.5;
	color: var(--light-color);
}
.descr-list {
	padding-left: 20px;
	list-style: disc;
}
.descr-item {
	font-size: 16px;
	line-height: 1.5;
	color: var(--light-color);
}
.descr-item:not(:last-child) {
	margin-bottom: 8px;
}
